.table__header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ececec;
    padding: 35px 60px 0 60px;
}

.choose__section {
    display: flex;
}

.choose__item {
    margin-right: 30px;
    margin-bottom: 40px;
}

.choose__item-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 135%;

    color: #9a9c9c;
    padding-left: 10px;
    padding-bottom: 15px;
}

.choose__item-select1 {
    width: 210px;
}

.choose__item-select2 {
    width: 488px;
}

.choose__item-select3 {
    width: 108px;
}

/* .choose__item-select__option {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;

    color: #393939;
} */

.empty_rows {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: #1c305c;
    text-align: center;
}

.button__section {
    display: flex;
    margin-top: 35px;
}

.button__section-btn {
    width: 205px;
    height: 38px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    color: #434c63;
    background: inherit;

    border: 1px solid #434c63;
    box-sizing: border-box;
    filter: drop-shadow(2px 8px 15px rgba(201, 201, 201, 0.1));
    border-radius: 7px;

    transition: all 0.5s;

    margin-left: 30px;
}

.button__section-btn:hover {
    background: #353f57;
    box-shadow: 0px 8px 9px rgba(139, 146, 162, 0.35);
    color: #ffffff;
}
