.table__page {
}

Select {
    max-width: 400px;
}

.choose__section {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.choose__item {
    display: flex;
    margin-right: 40px;
    margin-bottom: 20px;
}

.choose__item:nth-child(1) {
    width: 20%;
}

.choose__item:nth-child(2) {
    width: 53%;
}

.choose__item:nth-child(3) {
    width: 20%;
}

.choose__item-title {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;

    color: #bababa;
    padding-top: 10px;
    margin-right: 10px;
}

.choose__item-select1 {
    width: 40%;
}

.choose__item-select2 {
    width: 75%;
}

.choose__item-select3 {
    width: 43%;
}

.choose__item-select__option {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;

    color: #393939;
}
