.table {
}

.table h3 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 32px;

    /* blue */

    color: #1c305c;
}

table {
    width: 100%;
    margin-top: 20px;

    border-collapse: collapse;
    border: 2px solid #1c305c;
}

th {
    border: 2px solid #1c305c;
    vertical-align: middle;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    padding: 5px;
    color: #1c305c;
}

td {
    border: 1px solid #1c305c;
    vertical-align: middle;
    padding: 2px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 20px;

    color: #333333;
}

td {
    text-align: left;
}

/* td select {
    width: 90%;
    border: 0.5 solid #1c305c;
}

td input {
    width: 90%;
    border: none;
} */
