td {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;

    color: #212323;

    padding: 15px 20px 15px 0;
}

.lessonNumber__td {
    width: 192px;
}

.pereodicity__td {
    width: 158px;
}

.frame__td {
    width: 100px;
}

.location__td {
    width: 254px;
}

.discipline__td {
    width: 176px;
}

.typeClassName__td {
    width: 199px;
}

.groupName__td {
    width: 144px;
}

.subGroup__td {
    width: 105px;
}

.teacherFio__td {
    width: 239px;
}
