.header {
    display: flex;
    justify-content: flex-start;
    background: #1c305c;
    margin-bottom: 20px;
}

.header__inner {
    width: 100%;
}
.header__inner-title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #ffffff;
    padding: 10px 0 10px 0;
}

.header__inner ul {
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.header__inner ul li {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #ffffff;
    padding: 10px 0 10px 0;
}

.header__inner ul li a {
    display: inline-block;
    margin-right: 40px;
}
